
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p> <% var today = new Date(); var yyyy = today.getFullYear(); %>
    <%= yyyy %> - © SmileyDoodle </p>
  </div>
</div>
</body>
</html>
